<div class="wrapper">
    <h1>Log In</h1>
    <form #signUp="ngForm" (ngSubmit)="submit(signUp.value.email, signUp.value.password)">
        <div class="form_section">
            <input class="input1" type="email" placeholder="Email" id="email" name="email" ngModel>
        </div>
        <div class="form_section">
            <input class="input1" type="password" placeholder="Password" id="password" name="password" ngModel>
        </div>
        <div class="text">
            <div>Don't have an account?</div>
            <div> Go to
                <span>
                    <a routerLink="/signup" class="button2 link">Sign Up</a>
                </span>
            </div>
        </div>
        <button class="button1" type="submit" data="Submit"></button>
    </form>
</div>