:host {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card * {
  color: gray;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin-top: 15px;

  &:not(:first-child) {
    margin-top: 50px;
  }

  .card_main {
    margin-top: 15px;
    .card_main_meta {
      .meta_author {
        font-style: 20px;
        font-weight: 600;
      }
      .meta_date {
        margin-left: 15px;
      }
    }

    .card_main_title {
      margin-top: 15px;
      font-size: 26px;
      font-weight: 600;
    }

    .card_main_body {
      margin-top: 15px;
      text-align: justify;
    }

    .card_main_tags {
      margin-top: 30px;
      span {
        background-color: rgb(116, 116, 116);
        font-size: 12px;
        color: black;
        border-radius: 10px;
        padding: 12px;
        font-weight: 400;
        margin-right: 10px;
      }
    }
  }
}

img {
  width: 200px;
  object-fit: contain;
  margin: 15px;
}
