
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}


mat-sidenav-content{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}