form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .form_section{

        .input1{
            width: 600px;
        }
    }

}

.image_name{
    font-style: 25px;
    margin: 10px;
    // padding: 10px;
    color: gray;
    height: 30px;
}

.inputFile{
    display: none;
}