<div class="wrapper">

    <a class="button2" routerLink="/">
        HOME
    </a>
    <!-- <a class="button2"  (click)="data()">
        DATA!
    </a> -->

    @if(currentUserData$ === null || currentUserData$ === undefined){
    <a class="button2" routerLink="/login">
        LogIn
    </a>
    <a class="button2" routerLink="/signup">
        SignUp
    </a>
    }
    @else  {
    <a class="button2" routerLink="/article/add-new" >
        Add new article
    </a>
    <a class="button2" routerLink="/signup" (click)="logOut()">
        LogOut
    </a>
    }
</div>