/* You can add global styles to this file, and also import other style files */

$color_black: #1b191900;
$color_purple:#a302ed;
$color_pink: #fb045a;


* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #141212;
  border: none;
}

li {
  list-style: none;
}



